{% extends "base.html" %}

{% load static %}
{% block title %} Cart {% endblock title %}


{% block body %}


    <!-- Breadcrumb Section Start -->
    <section class="breadcrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-contain">
                        <h2>Cart</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'home' %}">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active">Cart</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Cart Section Start -->
    <section class="cart-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row g-sm-5 g-3">
                <div class="col-xxl-9">
                    <div class="cart-table">
                        <div class="table-responsive-xl">
                            <table class="table">
                                <tbody>
                                    {% if carts%}
                                        {% for cart in carts %}
                                        <tr class="product-box-contain "  data-price="{{cart.item.price}}">
                                            <td class="product-detail">
                                                <div class="product border-0">
                                                    <a href="#" class="product-image">
                                                        <img src="{{cart.item.product_img.url}}"
                                                            class="img-fluid blur-up lazyload" alt="">
                                                    </a>
                                                    <div class="product-detail">
                                                        <ul>
                                                            <li class="name">
                                                                <a href="#">{{cart.item.product_name}}</a>
                                                            </li>

                                                            <li class="text-content"><span class="text-title">Sold
                                                                    By:</span> Fresho</li>

                                                            <li class="text-content"><span class="text-title">Quantity</span> {{cart.quantity}}</li>

                                                            
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>

                                            <td class="price">
                                                <h4 class="table-title text-content">Price</h4>
                                                <h5> {{ site_settings.currency  }}  {{cart.item.price}} <del class="text-content">{{ site_settings.currency  }}  {{cart.item.price |add:20}}</del></h5>
                                                <h6 class="theme-color">You Save : {{ site_settings.currency  }}  {{20}}</h6>
                                            </td>

                                            <td class="quantity">
                                                <h4 class="table-title text-content">Qty</h4>
                                                <div class="quantity-price">
                                                    <div class="cart_qty">
                                                        <div class="input-group">
                                                            <button type="button" class="btn qty-btn qty-left-minus"
                                                                data-type="minus" data-field="" data-action="minus">
                                                                <i class="fa fa-minus ms-0"></i>
                                                            </button>
                                                            <input class="form-control input-number qty-input" type="text"
                                                                name="quantity" value="{{cart.quantity}}" min="1" max="9">
                                                            <button type="button" class="btn qty-btn qty-right-plus"
                                                                data-type="plus" data-field="" data-action="plus">
                                                                <i class="fa fa-plus ms-0"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>

                                            <td class="subtotal">
                                                <h4 class="table-title text-content">Total</h4>
                                                <h5> {{ site_settings.currency  }} <span class="total-value"> {{ cart.total_price }} </span>   </h5>
                                            </td>

                                            <td class="save-remove">
                                                <h4 class="table-title text-content">Action</h4>
                                                <a class="save notifi-wishlist" href="javascript:void(0)">Save for later</a>
                                                <a class="remove close_button" href="{% url 'remove_from_cart' cart.item.id %}">Remove</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        

                                    {% else %}
                                        <tr>
                                            no items 
                                        </tr>
                                    {% endif %}

 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-3">
                    <div class="summery-box p-sticky">
                        <div class="summery-header">
                            <h3>Cart Total</h3>
                        </div>

                        <div class="summery-contain">
                            <div class="coupon-cart">
                                <h6 class="text-content mb-2">Coupon Apply</h6>
                                <div class="mb-3 coupon-box input-group">
                                    <input type="email" class="form-control" id="exampleFormControlInput1"
                                        placeholder="Enter Coupon Code Here...">
                                    <button class="btn-apply">Apply</button>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <h4>Subtotal</h4>
                                    <h4 class="price">{{site_settings.currency}} <span id="cartTotal">00</span></h4>
                                </li>

                                <li>
                                    <h4>Coupon Discount</h4>
                                    <h4 class="price">(-) <span id="discount">0.00</span></h4>
                                </li>

                                <li class="align-items-start">
                                    <h4>Shipping</h4>
                                    <h4 class="price text-end" > {{site_settings.currency}}  <span id="shipping">0</span></h4>
                                </li>
                            </ul>
                        </div>

                        <ul class="summery-total">
                            <li class="list-total border-top-0">
                                <h4>Total</h4>
                                <h4 class="price theme-color">{{site_settings.currency}} <b class="" id="grandTotal"></b></h4>
                            </li>
                        </ul>

                        <div class="button-group cart-button">
                            <ul>
                                <li>
                                    <button onclick="location.href = 'checkout.html';"
                                        class="btn btn-animation proceed-btn fw-bold">Process To Checkout</button>
                                </li>

                                <li>
                                    <button onclick="location.href = '{% url 'home' %}';"
                                        class="btn btn-light shopping-button text-dark">
                                        <i class="fa-solid fa-arrow-left-long"></i>Return To Shopping</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Cart Section End -->


{% endblock body %}

{% block js %}

<script>
$(document).ready(function () {

    $('.product-box-contain').each(function () {
        updateRow($(this));
    });

    cartTotal();
});


 function updateRow(container) {

    let input = container.find('.qty-input');

    let qty = parseInt(input.val()) || 0;
    let min = parseInt(input.attr('min')) || 1;
    let max = parseInt(input.attr('max')) || 9;

    if (qty < min) qty = min;
    if (qty > max) qty = max;

    input.val(qty);

    let price = parseFloat(container.data('price'));
    if (!isNaN(price)) {
        let total = price * qty;
        container.find('.total-value').text(total);
    }
}
$(document).on('click', '.qty-btn', function () {

    let container = $(this).closest('.product-box-contain');
    let input = container.find('.qty-input');
    let qty = parseInt(input.val()) || 0;

    let min = parseInt(input.attr('min')) || 1;
    let max = parseInt(input.attr('max')) || 9;

    let action = $(this).data('action');

    if (action === 'plus' && qty < max) qty++;
    if (action === 'minus' && qty > min) qty--;

    input.val(qty);

    updateRow(container);
    cartTotal();
});

function cartTotal() {
    let cartTotal = 0;

    $('.total-value').each(function () {
        let val = parseFloat($(this).text()) || 0;
        cartTotal += val;
    });
    let shipping = parseFloat($('#shipping').text()) || 0;
    let discount = parseFloat($('#discount').text()) || 0;
    $('#cartTotal').text(cartTotal);
    $('#grandTotal').text(cartTotal+shipping);
    
}
</script>
{% endblock js %}
